---
import NewsletterSponsorSlot from "../components/issue/NewsletterSponsorSlot.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Highlight from "../components/sponsor/Highlight.astro";
import StatsSection from "../components/sponsor/StatsSection.astro";
import ListItem from "../components/sponsor/ListItem.astro";
---

<BaseLayout
  title="Sponsor"
  description="Help me continue to create content and open source projects by sponsoring me."
  heroTitle="Want your product to reach thousands of developers?"
  heroDescription="You can sponsor my newsletter and help me with my mission to continue creating content online as well as showcasing your product to iOS developers."
  ctaType="sponsor"
>
  <section class="flex flex-col gap-9">
    <StatsSection title="How much does it cost?">
      <ul class="list-disc list-inside space-y-4">
        <ListItem>
          Sponsored slot in 1 issue: <Highlight text="750￡" />.
        </ListItem>
        <ListItem>
          Sponsored slot in 4 issue: <Highlight text="2250￡" />. You get 1
          issue for free!
        </ListItem>
      </ul>
    </StatsSection>

    <StatsSection title="What's in it for you?">
      <ul
        class="text-lg font-normal lg:text-xl text-gray-300 flex flex-col gap-3 list-disc list-inside"
      >
        <ListItem>
          A <strong>sponsored slot</strong> in the email newsletter.
        </ListItem>
        <ListItem>
          A <strong>sponsored slot</strong> in the web version of the newsletter
          <Highlight text="forever" />.
        </ListItem>
        <ListItem>
          A <strong>shoutout in the tweet</strong> that goes out with the issue.
        </ListItem>
        <ListItem>
          A <strong>shoutout in the LinkedIn post</strong> that goes out with the
          issue.
        </ListItem>
        <ListItem>
          A <Highlight text="permanent" /> place in the <strong
            >previous sponsor</strong
          > section of this page.
        </ListItem>
        <ListItem>
          A <Highlight text="highly customisable" /> component where you pick the
          image, content and colours to match your brand.
        </ListItem>
      </ul>
    </StatsSection>

    <StatsSection title="What do sponsored slots look like?">
      <NewsletterSponsorSlot
        title="Showcase your best work with stunning QR Codes"
        url="https://getqreate.app"
        description="QReate is a privacy-first app that allows you to create stunning QR Codes that will work forever!"
        image="/qreate.webp"
      />
      <a
        href="/issues/45"
        class="text-lg underline font-normal text-violet-600 dark:text-violet-300"
        >You can see it in context in any of the site's articles.</a
      >
    </StatsSection>
    <StatsSection title="Some stats about the newsletter">
      <ul
        class="text-lg font-normal lg:text-xl text-gray-300 flex flex-col gap-3 list-disc list-inside"
      >
        <ListItem><Highlight text="2k+" /> email subscribers.</ListItem>
        <ListItem><Highlight text="50+" /> issues released so far.</ListItem>
        <ListItem><Highlight text="75%" /> average open rate.</ListItem>
      </ul>
    </StatsSection>
  </section>
</BaseLayout>
