---
import NewsletterSponsorSlot from "../components/issue/NewsletterSponsorSlot.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Highlight from "../components/sponsor/Highlight.astro";
import StatsSection from "../components/sponsor/StatsSection.astro";
import ListItem from "../components/sponsor/ListItem.astro";
---

<BaseLayout
  title="Sponsor"
  description="Help me continue to create content and open source projects by sponsoring me."
  heroTitle="Want your product to reach thousands of developers?"
  heroDescription="You can sponsor my newsletter and help me with my mission to continue creating content online as well as showcasing your product to iOS developers."
  ctaType="sponsor"
>
  <section class="flex flex-col gap-9">
    <div
      class="dark:text-gray-100 text-gray-900 bg-violet-500/20 p-6 rounded-lg border-violet-800 border-2 flex gap-8 items-center"
    >
      <div class="max-w-lg space-y-1">
        <p class="text-xs font-bold text-violet-500">EXCLUSIVE BUNDLE OFFER</p>
        <p class="text-lg font-bold">Get 10% off by sponsoring a full month</p>
        <p class="text-sm">Book a whole month of sponsorship (2 issues and a webinar) and get 10% off the full price </p>
      </div>
      <p class="text-2xl font-semibold">
        £2,475
        <span class="line-through text-gray-500 ml-2 font-normal">£2,750</span>
      </p>
    </div>
    <StatsSection title="Sponsor an email issue">
      <p class=" max-w-prose">You will be the exclusive sponsor of an email issue that reaches over 2,000 iOS developers interested in iOS CI/CD and automation. Some of these developers work at companies like Apple, Meta and Amazon among others.</p>
      <p class="text-lg font-semibold">Price</p>
      <ul class="list-disc list-inside space-y-4">
        <ListItem>
          Sponsored slot in 1 email issue: <Highlight text="750￡" />.
        </ListItem>
      </ul>
      <p class="text-lg font-semibold">What's in it for you?</p>
      <ul class="list-disc list-inside space-y-4">
        <ListItem>
          Your brand reaching over <Highlight text="2.2k+" /> developers' email inboxes.
        </ListItem>
        <ListItem>
          Your brand reaching over <Highlight text="1k+" /> subscribers of the iOS CI Newsletter on LinkedIn.
        </ListItem>
        <ListItem>
          A <strong>sponsored slot</strong> in the web version of the newsletter
          <Highlight text="forever" />.
        </ListItem>
        <ListItem>
          A <strong>shoutout in the tweet</strong> that goes out with the issue.
        </ListItem>
        <ListItem>
          A <strong>shoutout in the LinkedIn post</strong> that goes out with the
          issue.
        </ListItem>
        <ListItem>
          A <Highlight text="permanent" /> place in the <strong
            >previous sponsor</strong
          > section of this page.
        </ListItem>
      </ul>
    </StatsSection>

    <StatsSection title="Sponsor a webinar">
      <p class=" max-w-prose">As part of building a community around iOS CI/CD and Automation, I run a monthly webinar series, which is exclusive and free to attend for subscribers of the newsletter. If you would like to support me and get your brand in front of the audience, you can sponsor a webinar.</p>
      <p class="text-lg font-semibold">Price</p>
      <ul class="list-disc list-inside space-y-4">
        <ListItem>
          Webinar Sponsorship: <Highlight text="1250￡" />.
        </ListItem>
      </ul>
      <p class="text-lg font-semibold">What's in it for you?</p>
      <ul class="list-disc list-inside space-y-4">
        <ListItem>
          A full list of <Highlight text="attendee data (name and email)" />, with permission through Sign Up form T&Cs.
        </ListItem>
        <ListItem>
          Exclusive <Highlight text="sponsor slot" /> in the webinar.
        </ListItem>
        <ListItem>
          Tailoring of the webinar content to use the product or service you're <Highlight text="advertising" />.
        </ListItem>
        <ListItem>
          Sponsor <Highlight text="overlay" /> in the webinar.
        </ListItem>
        <ListItem>
          Sponsor name included in the webinar <Highlight text="title" />.
        </ListItem>
      </ul>
    </StatsSection>

    <StatsSection title="What do sponsored slots look like?">
      <NewsletterSponsorSlot
        title="Showcase your best work with stunning QR Codes"
        url="https://getqreate.app"
        description="QReate is a privacy-first app that allows you to create stunning QR Codes that will work forever!"
        image="/qreate.webp"
      />
      <a
        href="/issues/45"
        class="text-lg underline font-normal text-violet-600 dark:text-violet-300"
        >You can see it in context in any of the site's articles.</a
      >
    </StatsSection>
  </section>
</BaseLayout>
