---
import { getCollection } from "astro:content";
import Subscribe from "./Subscribe.astro";
import PreviousSponsors from "./PreviousSponsors.astro";

const posts = await getCollection("newsletter");
const sortedPosts = posts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);

const firstPost = sortedPosts[0]!;
---

<section class="bg-violet-300 flex flex-col">
  <nav>
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pt-4 px-4"
    >
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img
          src="/ci-newsletter.svg"
          class="h-8 aspect-square hover:scale-110 transition-transform"
        />
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >iOS CI Newsletter</span
        >
      </a>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
        >
          <li>
            <a
              href={`/issues/${firstPost.data.number}`}
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-violet-700 md:p-0 dark:text-white md:dark:hover:text-violet-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              aria-current="page">Latest issue</a
            >
          </li>
          <li>
            <a
              href="/sponsor"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-violet-700 md:p-0 dark:text-white md:dark:hover:text-violet-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              >Sponsor</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div
    class="flex flex-col items-center text-center mx-auto gap-8 max-w-3xl py-16"
  >
    <h1 class="text-5xl font-bold">
      Stay up to date with the latest iOS CI/CD news
    </h1>

    <p class="max-w-md mx-auto">
      Every two weeks, directly to your inbox and packed with everything you
      need to know and be aware of so that you're always prepared for the next
      app release!
    </p>

    <Subscribe />
    <PreviousSponsors />
  </div>
</section>
