---
const { title, body } = Astro.props;
---

<section>
  <div class="flex flex-col gap-12 items-center text-white">
    <div class="flex flex-col items-center gap-6">
      <h1
        class="max-w-[24ch] text-center text-5xl/[1.1] font-semibold md:text-6xl/[1.1]"
      >
        {title}
      </h1>
      <p
        class="body body-large text-center text-astro-gray-100 md:px-8 max-w-2xl"
        style="text-wrap: balance;"
      >
        {body}
      </p>
    </div>

    <slot />
  </div>
</section>
