---
import PreviousSponsors from "./PreviousSponsors.astro";
---

<section>
  <div class="flex flex-col gap-12 items-center text-white">
    <div class="flex flex-col items-center gap-6">
      <h1
        class="max-w-[24ch] text-center text-5xl/[1.1] font-semibold md:text-6xl/[1.1]"
      >
        Stay up to date with the latest iOS CI/CD news
      </h1>
      <p
        class="body body-large text-center text-astro-gray-100 md:px-8 max-w-2xl"
        style="text-wrap: balance;"
      >
        Astro powers the world's fastest websites, client-side web apps, dynamic
        API endpoints, and everything in-between.
      </p>
    </div>

    <PreviousSponsors />
  </div>
</section>
