---
const { image, title, url, description } = Astro.props;
---

<div
  class="not-prose relative flex items-center gap-2 rounded-lg border-2 border-violet-400 p-3 shadow-lg bg-violet-600/10"
>
  <p
    class="absolute right-2 mx-auto rounded-md bg-violet-300 px-2 py-0.5 font-title text-xs shadow [top:-10px] text-black"
  >
    Sponsored
  </p>

  <img
    class="relative hidden aspect-square w-28 object-contain px-2 sm:block"
    src={image}
    alt="Sponsor logo"
  />

  <div class="max-w-md">
    <a
      href={url}
      class={`font-semibold text-lg no-underline hover:underline text-gray-900 dark:text-gray-200`}
    >
      {title}
    </a>
    <p class={`m-0 text-sm leading-relaxed text-gray-600 dark:text-gray-300`}>
      {description}
    </p>
  </div>
</div>
