---
import { getCollection } from "astro:content";
import "./issue.css";
import BaseLayout from "./BaseLayout.astro";

const posts = await getCollection("newsletter");
const sortedPosts = posts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);

const { number } = Astro.props.content;

const prevURL = number - 1 <= 0 ? undefined : `/issues/${number - 1}`;
const nextURL =
  number >= sortedPosts.length ? undefined : `/issues/${number + 1}`;
---

<BaseLayout>
  <div class="flex gap-1 justify-center">
    <div class="my-0 flex flex-col gap-5">
      <header class="w-full"></header>

      <section
        class="prose prose-invert mx-auto h-full hover:prose-h2:underline prose-h2:font-title"
      >
        <slot />
        <div class="prose flex gap-3 pt-8">
          {
            prevURL && (
              <a
                href={prevURL}
                class="m-0 flex flex-1 grow flex-col rounded-lg border border-gray-400 border-opacity-0 p-4 text-left text-sm no-underline transition-colors hover:border-opacity-100 bg-gray-800/70"
              >
                <p class="m-0 mb-1 text-zinc-400">← Previous issue</p>
                <p class="m-0 font-semibold text-zinc-300">
                  Issue #{number - 1}
                </p>
              </a>
            )
          }

          {
            nextURL && (
              <a
                href={nextURL}
                class="m-0 flex flex-1 grow flex-col rounded-lg border border-gray-400 border-opacity-0  p-4 text-right text-sm no-underline transition-colors hover:border-opacity-100 bg-gray-800/70"
              >
                <p class="m-0 mb-1 text-zinc-400">Next issue →</p>
                <p class="m-0 font-semibold text-zinc-300">
                  Issue #{number + 1}
                </p>
              </a>
            )
          }
        </div>
      </section>
    </div>
  </div>
</BaseLayout>
