---
import { getCollection } from "astro:content";
import "./issue.css";
import BaseLayout from "./BaseLayout.astro";
import IssuePaginator from "@components/issue/IssuePaginator.astro";

const posts = await getCollection("newsletter");
const sortedPosts = posts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);

const { number } = Astro.props.content;

const prevURL = number - 1 <= 0 ? undefined : `/issues/${number - 1}`;
const nextURL =
  number >= sortedPosts.length ? undefined : `/issues/${number + 1}`;
---

<BaseLayout>
  <div class="flex gap-1 justify-center">
    <div class="my-0 flex flex-col gap-5">
      <header class="w-full"></header>

      <section
        class="prose prose-invert mx-auto h-full hover:prose-h2:underline prose-h2:font-title"
      >
        <slot />
        <IssuePaginator prevURL={prevURL} nextURL={nextURL} number={number} />
      </section>
    </div>
  </div>
</BaseLayout>
